<app-slider [nombre]="'Blog'" [tamano]="'small'"></app-slider>

<div class=center>
    <section id="content">
        <h2>Ultimos Articulos</h2>
        <h1 *ngIf="nombre">{{nombre}}</h1>

        <h2 *ngIf="!nombre">{{mensaje}}</h2>
        <div id="articles">
            <article class="article-item" id="article-template" *ngFor="let articulo of resultado">
                <div class="image-wrap">
                    <img src="#" />
                </div>
                <h2>Titulo: {{articulo.title}}</h2>
                <h3>ID: {{articulo._id}}</h3>
                <h3>Contenido: {{articulo.content}}</h3>
                <span class="date">{{articulo.date}}</span>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>
    <app-sidebar></app-sidebar>
    <div class="clearfix"></div>
</div>